@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

/* adding a primary theme to our project */
@theme{
    --color-primary: #5044e5;
}

.cl-drawerRoot{
    z-index: 50;
}

.reset-tw, .reset-tw *{
    all: revert !important
}